
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Todo App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/todos" routerLinkActive="active">Todos</a>
        </li>   
      </ul>
    </div>  
  </nav>

<div class="container-flex">
  <div class="form-group">
    <input
      type="text"
      class="form-control form-control-sm"
      placeholder="Search"
      name="text1"
    />
  </div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
        <th>Owner</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of filteredData">
        <td>{{ todo.id }}</td>
        <td>{{ todo.name }}</td>
        <td>{{ todo.description }}</td>
        <td>{{ todo.status }}</td>
        <td>{{ todo.owner }}</td>
        <td>
          <a href="http://127.0.0.1:5500/deleteTodo.html"
            ><button>Delete</button></a
          ><button>Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="center">
  <button>&lt;</button>
  Page 1/8
  <button>&gt;</button>
</div>
